/* ATENÇÃO!! 

1. AS BORDAS BRANCAS SÃO MERAMENTE GUIAS 
USADAS DURANTE A FORMATAÇÃO DO LAYOUT DOS ELEMENTOS 
DA PÁG. POR ISSO ESTÃO COMO 'COMENTÁRIOS', SENDO 
ATIVADAS APENAS QUANDO NECESSÁRIO, PARA FACILITAR 
A VISUALIZAÇÃO. 

2. OUTRAS LINHAS COMO COMENTÁRIO SÃO PLACEHOLDERS 
PARA ALTERAÇÕES FUTURAS. */

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: PageFont;
  src: url(./Assets/Font/KdamThmorPro-Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: url(/Assets/Images/hc_bg_4k_comp.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;

  font-family: PageFont;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

#logo {
  /* position: sticky; */
  top: 10px;
  min-height: 85px;
  max-height: 85px;
  padding-top: 55px;
  background-image: url(./Assets/Images/wz_nobg.png);
  background-repeat: no-repeat;
  background-size: 75px;
  background-position: center;
}

#intro {
  width: 60%;
  margin: auto;
  padding-bottom: 150px;

  /* border: white solid 1px; */
}

@media screen and (max-width: 770px) {
  #intro {
    width: 95%;
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 1000px) {
  #intro {
    width: 80%;
    padding-bottom: 100px;
  }
}

h1 {
  margin-top: 0px;
  text-align: center;
  font-size: 75px;
  text-shadow: #f605fa 2px 2px 15px;
}

@media screen and (max-width: 770px) {
  h1 {
    font-size: 60px;
  }
}

.introp {
  margin-top: 50px;
  margin-bottom: 0px;
  font-size: 30px;
  text-align: center;
  text-shadow: #f605fa 2px 2px 15px;
}

@media screen and (max-width: 770px) {
  .introp {
    font-size: 25px;
  }
}

.skillscontainer {
  display: flex;
  height: fit-content;
  width: 60%;
  margin: auto;
  margin-bottom: 2%;
  text-align: center;
  text-shadow: #01D7CF 2px 2px 15px;

  /* border: white solid 1px; */
}

@media screen and (max-width: 770px) {
  .skillscontainer {
    display: block;
    width: 95%;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1000px) {
  .skillscontainer {
    width: 80%;
  }
}

@media screen and (max-width: 1600px) {
  .skillscontainer {
    width: 80%;
  }
}

.cards {
  height: fit-content;
  width: 48%;
  margin-right: 2%;
  margin-left: 2%;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 15px;
  padding-bottom: 20px;
  background-color: #c2c2c238;
  border-radius: 3px;
  box-shadow: #f605fa 0px 2px 10px;
}

@media screen and (max-width: 770px) {
  .cards {
    width: 80%;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    margin-bottom: 6%;
  }
}

#aboutme {
  width: 60%;
  margin: auto;
  margin-bottom: 50px;
  padding-top: 150px;
  text-shadow: #f605fa 2px 2px 15px;

  /* border: white solid 1px; */
}

@media screen and (max-width: 770px) {
  #aboutme {
    width: 95%;
    padding-top: 100px;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 1000px) {
  #aboutme {
    width: 80%;
    padding-top: 100px;
    margin-bottom: 25px;
  }
}

#container {
  display: flex;
  height: fit-content;
  width: 50%;
  margin: auto;
  margin-bottom: 2%;
  text-shadow: #01D7CF 2px 2px 15px;

  /* border: white solid 1px; */
}

@media screen and (max-width: 770px) {
  #container {
    display: block;
    width: 95%;
    margin-bottom: 6%;
  }
}

@media screen and (max-width: 1000px) {
  #container {
    display: block;
    width: 80%;
    margin-bottom: 4%;
  }
}

@media screen and (max-width: 1600px) {
  #container {
    width: 80%;
  }
}

#minilogo {
  float: left;
  height: 50px;
  width: 50px;
  transform: translatey(-12%);
  background-image: url(./Assets/Images/wz_nobg.png);
  background-size: contain;
}

#profile {
  width: 66%;
  margin-right: 10px;
  padding: 20px;
  text-align: justify;
  background-color: #c2c2c238;
  border-radius: 5px;
  box-shadow: #f605fa 0px 2px 10px;

  /* border: white solid 1px; */
}

@media screen and (max-width: 770px) {
  #profile {
    width: 80%;
    margin: auto;
    margin-bottom: 6%;
  }
}

@media screen and (max-width: 1000px) {
  #profile {
    width: 80%;
    margin: auto;
    margin-bottom: 4%;
  }
}

#pic {
  width: 33%;
  margin-left: 10px;
  background-image: url(./Assets/Images/eu_go02.png);
  background-size: cover;
  border-radius: 5px;
  box-shadow: #f605fa 0px 2px 10px;

  /* border: white solid 1px; */
}

@media screen and (max-width: 770px) {
  #pic {
    height: 500px;
    width: 70%;
    margin: auto;
  }
}

@media screen and (max-width: 1000px) {
  #pic {
    height: 400px;
    width: 40%;
    margin: auto;
  }
}

#contitle {
  width: 60%;
  margin: auto;
  margin-bottom: 50px;
  padding-top: 150px;
  margin-bottom: 50px;
  text-shadow: #f605fa 2px 2px 15px;

  /* border: white solid 1px; */
}

@media screen and (max-width: 770px) {
  #contitle {
    width: 95%;
    padding-top: 100px;
    margin-bottom: 6%;
  }
}

@media screen and (max-width: 1000px) {
  #contitle {
    width: 90%;
    padding-top: 100px;
    margin-bottom: 4%;
  }
}

#contact {
  /* height: fit-content; */
  height: 500px;
  width: 45%;
  margin: auto;
  margin-bottom: 6%;

  /* border: white solid 1px; */
}

@media screen and (max-width: 770px) {
  #contact {
    height: 250px;
    width: 95%;
  }
}

@media screen and (max-width: 1000px) {
  #contact {
    width: 90%;
  }
}

.buttons {
  width: 35%;
  margin: auto;
  margin-bottom: 2%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #01D7CF;
  border-radius: 10px;
  box-shadow: #f605fa 0px 0px 15px;
}

@media screen and (max-width: 770px) {
  .buttons {
    width: 70%;
  }
}

@media screen and (max-width: 1000px) {
  .buttons {
    width: 45%;
  }
}

@media screen and (max-width: 1600px) {
  .buttons {
    width: 50%;
  }
}

.buttons:hover {
  background-color: #00fff7;
}

footer {
  height: fit-content;
  margin: auto;
  padding: 5px;
  background-color: #3a3a3a6c;
  text-shadow: #00fff7 0px 2px 10px;
  box-shadow: #f605fa 0px 3px 15px;
}

#flogo {
  height: 40px;
  margin: auto;
  margin-bottom: 5px;
  background-image: url(./Assets/Images/wz_nobg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}